<a href="https://colab.research.google.com/github/harshithsai218/GENAI/blob/main/ths_Week2_collections_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List

In [ ]:
#1. Write a Python program to sum all the items in a list.
# 2. Write a Python program to multiply all the items in a list.
# 3. Write a Python program to get the largest number from a list.
# 4. Write a Python program to get the smallest number from a list.
# 5. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
# Sample List : ['abc', 'xyz', 'aba', '1221']
# Expected Result : 2

In [ ]:
def sum_list(lst):
    return sum(lst)
num_list = [1, 2, 3, 4]
print("Sum:", sum_list(num_list))

Sum: 10

In [ ]:
def multiply_list(lst):
    result = 1
    for item in lst:
        result *= item
    return result
num_list = [1, 2, 3, 4]
print("Product:", multiply_list(num_list))

Product: 24

In [ ]:
def max_in_list(lst):
    return max(lst)

num_list = [1, 2, 3, 4]
print("Max:", max_in_list(num_list))

Max: 4

In [ ]:
def min_in_list(lst):
    return min(lst)

num_list = [1, 2, 3, 4]
print("Min:", min_in_list(num_list))

Min: 1

In [ ]:
def count_matching_strings(strings):
    count = 0
    for s in strings:
        if len(s) >= 2 and s[0] == s[-1]:
            count += 1
    return count

string_list = ['abc', 'xyz', 'aba', '1221']
print("Matching strings count:", count_matching_strings(string_list))

Matching strings count: 2

#Tuple

In [ ]:
# 1. Write a Python program to create a tuple.
# 2. Write a Python program to create a tuple with different data types.
# 3 .Write a Python program to create a tuple of numbers and print one item.
# 4. Write a Python program to unpack a tuple into several variables.
# 5. Write a Python program to add an item to a tuple.
# 6. Write a Python program to convert a tuple to a string.
# 7. Write a Python program to get the 4th element from the last element of a tuple.
# 8. Write a Python program to create the colon of a tuple.

In [ ]:
my_tuple = (1, 2, 3, 4)
print("Tuple:", my_tuple)

Tuple: (1, 2, 3, 4)

In [ ]:
mixed_tuple = (1, "hello", 3.14, True)
print("Mixed Tuple:", mixed_tuple)

Mixed Tuple: (1, 'hello', 3.14, True)

In [ ]:
numbers = (10, 20, 30, 40, 50)
print("One item:", numbers[2])  # printing the third item

One item: 30

In [ ]:
person = ("John", 25, "Engineer")
name, age, profession = person
print("Name:", name)
print("Age:", age)
print("Profession:", profession)

Name: John
Age: 25
Profession: Engineer

In [ ]:
original = (1, 2, 3)
new_item = 4
updated = original + (new_item,)
print("Updated Tuple:", updated)

Updated Tuple: (1, 2, 3, 4)

In [ ]:
chars = ('P', 'y', 't', 'h', 'o', 'n')
string = ''.join(chars)
print("String:", string)

String: Python

In [ ]:
sample = (10, 20, 30, 40, 50, 60, 70, 80)
# -1 = last, -4 = 4th from last
print("4th element from last:", sample[-4])

4th element from last: 50

In [ ]:
original = (1, 2, 3, 4)
clone = original[:]
print("Cloned Tuple:", clone)

Cloned Tuple: (1, 2, 3, 4)

#set

In [ ]:
# 1. Write a Python program to create a set.
# 2. Write a Python program to iterate over sets
# 3. Write a Python program to add member(s) to a set.
# 4. Write a Python program to remove item(s) from a given set.
# 5. Write a Python program to remove an item from a set if it is present in the set.
# 6. Write a Python program to create an intersection of sets.
# 7. Write a Python program to create a symmetric difference of sets.
# 8. Write a Python program to find the maximum and minimum values in a set.

In [ ]:
my_set = {1, 2, 3, 4}
print("Set:", my_set)

Set: {1, 2, 3, 4}

In [ ]:
my_set = {10, 20, 30, 40}
for item in my_set:
    print("Item:", item)

Item: 40
Item: 10
Item: 20
Item: 30

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)  # add single item
my_set.update([5, 6])  # add multiple items
print("Updated Set:", my_set)

Updated Set: {1, 2, 3, 4, 5, 6}

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)  # raises error if not found
my_set.discard(10)  # no error if item not found
print("After removal:", my_set)

After removal: {1, 2, 4, 5}

In [ ]:
my_set = {1, 2, 3, 4}
item_to_remove = 3
if item_to_remove in my_set:
    my_set.remove(item_to_remove)
print("Set after conditional removal:", my_set)

Set after conditional removal: {1, 2, 4}

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
intersection = set1 & set2
print("Intersection:", intersection)

Intersection: {3, 4}

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
sym_diff = set1 ^ set2
print("Symmetric Difference:", sym_diff)

Symmetric Difference: {1, 2, 4, 5}

In [ ]:
my_set = {10, 20, 5, 30, 15}
print("Maximum:", max(my_set))
print("Minimum:", min(my_set))

Maximum: 30
Minimum: 5

#doubt

In [ ]:
#5. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
# Sample List : ['abc', 'xyz', 'aba', '1221']



#take the given list and assign to a variable
a = ['abc', 'xyz', 'aba', '1221']
#for counting the intialisation count must be zero so take count as a varible and assign it with zero
count = 0
#run a for loop to give the condition  1.The string length is 2 or more for that i have used i is greater than 1 means string must have 2 letters
#2nd  condition:- the first and last characters are the same. for that i am using indexing[0] = indexing[-1] -->last character
for i in a:
  if len(i) > 1 and i[0] == i[-1]:
    count += 1     #count = count + 1
print(count)

2

In [ ]:
#Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
# Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
# Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

#We can do this one in functions please don't do it


# Define a function called 'last' that takes a single argument 'n' and returns the last element of 'n'
def last(n):
    return n[-1]

# Define a function called 'sort_list_last' that takes a list of tuples 'tuples' as input
def sort_list_last(tuples):
    # Sort the list of tuples 'tuples' using the 'last' function as the key for sorting
    return sorted(tuples, key=last)

# Call the 'sort_list_last' function with a list of tuples as input and print the sorted result
print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

In [ ]:
# 8. Write a Python program to create the colon of a tuple.
a = ("hi",2,4,[],'apple')
#deepcopy
from copy import deepcopy
a_colon = deepcopy(a)

a_colon[3].append(8)

print(a_colon)

('hi', 2, 4, [8], 'apple')

In [ ]:
e = (1,2,3,4)
a,b,c,d = e
print(e[0])
print

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
new = []
for i in a:
  new.append(i*2)
print(new)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
for i in a:
  print(i*2,end=",")

2,4,6,8,10,12,14,16,18,

In [ ]:
total = 1
for i in a:
  total = total*i
print(total)

362880